<div class="row">
  <div class="col">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a [routerLink]="['/customer']">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Order</li>
      </ol>
    </nav>
    <div class="card">
      <h4 class="card-header">Order</h4>
      <div class="card-body">
        <div class="d-flex">
          <img class="me-3 rounded-circle" [src]="trip.driver!.photo" width="80" height="80">
          <body>
            <div style="float:left ; width:300px; height:auto; display:inline">
              <h5 class="mt-0 mb-1 fw-bold">{{ trip.driver!.first_name }}</h5>
              <p>
                <strong>{{ trip.drop_off_address }}</strong><br>
                <span class="text-secondary">{{ trip.status }}</span>
              </p>
            </div>
            <div style="float:right ; width:300px; height:auto; display:inline">
                <p>
                   <strong> {{ trip.serviceCategory_new}}  </strong><br>
                  <strong> ${{ trip.servicePrice }} </strong><br>
                </p>
            </div>
          </body>
        </div>
      </div>
    </div>
  </div>
</div>
